ul{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: flex;
  margin: 0;
  padding: 0;
}
ul li
{
  list-style: none;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  animation: ani 1.6s ease-in-out infinite;
}
@keyframes ani {
  0%, 40%, 100%
  {
    transform: scale(0.2);
  }
  20%
  {
    transform: scale(0.5);
  }

}
ul li:nth-child(1)
{
  animation-delay: -1.4s;
  background: #fcf9ec;
  box-shadow: 0 0 50px #b0f4e6;

}
ul li:nth-child(2)
{
  animation-delay: -1.2s;
  background: #b0f4e6;
  box-shadow: 0 0 50px #b0f4e6;
}
ul li:nth-child(3)
{
  animation-delay: -1s;
  background: #67eaca;
  box-shadow: 0 0 50px #67eaca;
}
ul li:nth-child(4)
{
  animation-delay: -0.8s;
  background: #01ffc0;
  box-shadow: 0 0 50px #cbfff2;
}
ul li:nth-child(5)
{
  animation-delay: -0.6s;
  background: #67eaca;
  box-shadow: 0 0 50px #67eaca;
}
ul li:nth-child(6)
{
  animation-delay: -0.4s;
  background: #b0f4e6;
  box-shadow: 0 0 50px #b0f4e6;
}
ul li:nth-child(7)
{
  animation-delay: -0.2s;
  background: #fcf9ec;
  box-shadow: 0 0 50px #b0f4e6;
}